<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
           <div class="card">
               <div class="card-body">
                   <form action="/registro" method="POST">
                   <div class="form-group">
                       <label><strong>REGISTRARSE</strong></label> 
                   </div>
                   <div class="form-group">
                       <input type="text" class="form-control" name="usuario" placeholder="Usuario" autofocus> 
                   </div>
                   <div class="form-group">
                       <input type="password" class="form-control" name="contrasena" placeholder="Contraseña"> 
                   </div>
                   <div class="form-group">
                        <label for="exampleFormControlSelect1">TIPO USUARIO</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="tipo">
                            <option>Profesor</option>
                            <option>Estudiante</option>
                        </select>
                    </div>
                    <div class="form-group">
                       <input type="text" class="form-control" name="token" placeholder="token"> 
                   </div>
                   <div class="form-group">
                       <button class="btn btn-success btn-block">Guardar</button>
                   </div>
                   </form>
               </div>
           </div> 
        </div>
    </div>
</div>