<div class="container">
    <div class="row card-body">

        <h1 class="container m-5">Admisiones y registro</h1>

        <p>
            Objetivo:

                Gestionar adecuadamente el registro de la información académica de los estudiantes activos,
                inactivos y egresados, garantizando eficacia en su custodia y oportunidad y veracidad en la
                entrega de información.</p>
        <p>
            Estamos ubicados en el Bloque 18 (Administrativo), primer piso. Horario: **lunes a viernes 8:00
            a.m. a 12.00 m. y de 3:00 a 7:00 p.m.</p>
        <p>
            Los turnos para la atención están disponibles entre 8:00 a.m. - 11:30 a.m. y de 3:00 p.m.
            -  6:30 p.m. Esta información puede variar en época de matrículas.</p>
        <p>
           Servicios:

    Certificaciones:  

    Si usted es estudiante activo o retirado puede solicitar, pagar y obtener certificados a través de la web.
    Para el efecto debe seguir la ruta:  Estudiantes /Soy estudiante/Servicios en línea /Solicitud de certificados.
    Al ingresar podrá visualizar los tipos de certificados disponibles según vínculo.
    Si usted es egresado puede solicitar, pagar y obtener certificados a través de la web. 
    Para el efecto debe seguir la ruta:  Egresados /Servicios en línea /Solicitud de certificados.
    Al ingresar podrá visualizar los tipos de certificados disponibles según vínculo.
    Para obtener información sobre costos y expedición de otros certificados ingrese  Aquí
    Si requiere información adicional, puede contactarnos a través del correo electrónico admisiones-registro@udem.edu.co 
    para ofrecerle orientación sobre el modo de proceder o en el teléfono 3405123.
</p>
        <p>
            Validaciones académicas:  Si usted es persona natural o jurídica y requiere la validación
            de estudios realizados por nuestros estudiantes activos o inactivos y/o egresados, debe enviar
            solicitud dirigida a la jefa de la sección de admisiones y registro, señora Sandra Patricia Giraldo Montoya,
            a través del correo electrónico corresrec@udem.edu.co; anexando a la solicitud copia del certificado
            de matrícula o de estudios realizados, copia de acta de grado o diploma que desea validar y la autorización
            debidamente firmada por el estudiante o egresado.  Es importante informar en la solicitud el correo electrónico
            a través del cual ofreceremos respuesta.</p>
        
            <strong>Informes
            <br>Teléfono: 3154290128
            <br>Correo: bedoyadt@gmail.com o ct059489@gmail.com
            <br>En cada sede y seccional se debe consultar en la coordinación de extensión
            <br>CESDE</strong>
    </div>
</div>